<div class="box">
	<p> 
	FAQs for the T-shirts : <br><br>

Q)How much do I pay for shipping? <br>
Ans - There will be no shipping charges. The delivery is free across PAN India.  <br><br>

Q)Are the badges complimentary for every order or just the combo offer? <br><br>
Ans - The badges are complimentary with every order. <br><br>

Q)Is the 10% discount offer valid for the combination of 1 half sleeve and 1 full sleeve t-shirt only or any for any other combination also? <br>
Ans - For any combination of 2 or more than 2 t-shirts, you will get a 10% discount. <br><br>

Q)How do I find the right size of the t-shirt? <br>
Ans - The T-shirts are of the standard used. But there is also a Size Chart on the webpage. <br><br>

Q)What is the quality of the t-shirt? <br>
Ans - The t-shirt will be of PURE COTTON BIO WASH quality. <br><br>

Q)What will be the accepted payment method? <br><br>
Ans - The payment gateway will accept all the UPIs and Debit Cards. <br><br>

Q)When will the payment procedure start? <br>
Ans - The Payment procedure will start by this weekend. Fill out the following Google form to prebook your merchandise and we’ll contact you for further procedure. <br><br>

Q)Can anyone purchase the t-shirt? <br>
Ans - The Merchandise is exclusive for the students of IIT (BHU) Varanasi. 
Non-IIT BHU students can get these t-shirts as goodies through the campus   ambassador program <br><br>

Q)What if I get defective Merchandise? <br>
Ans - Any defective merchandise will be replaced. <br><br>

Q)What are the minimum and the maximum number of t-shirts I can purchase? <br>
Ans - You can purchase any number of t-shirts you like. <br><br>

		
	</p>

</div>