@import url(//db.onlinewebfonts.com/c/ff78c5e2b6c3846035dae28cdaa65583?family=BigNoodleTitling); 
   

@font-face {font-family: "BigNoodleTitling"; src: url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.eot"); src: url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.woff") format("woff"), url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ff78c5e2b6c3846035dae28cdaa65583.svg#BigNoodleTitling") format("svg"); }

p{
	font-weight:700;
	font-family: "BigNoodleTitling";
	font-size:25px;
	    line-height: 2;
	    color:white;
}

.box{
	padding:70px;
	text-align: center;
	background:teal;
	border-radius:25px;
}